node_modules/;
Npoi.MapperHelper/.vs/Npoi.MapperHelper/v16/.suo
Npoi.MapperHelper/bin/Debug/Npoi.MapperHelper.1.0.0.nupkg
Npoi.MapperHelper/bin/Debug/netcoreapp3.1/Npoi.MapperHelper.deps.json
Npoi.MapperHelper/bin/Debug/netcoreapp3.1/Npoi.MapperHelper.dll
Npoi.MapperHelper/bin/Debug/netcoreapp3.1/Npoi.MapperHelper.pdb
Npoi.MapperHelper/obj/Npoi.MapperHelper.csproj.nuget.dgspec.json
Npoi.MapperHelper/obj/Npoi.MapperHelper.csproj.nuget.g.props
Npoi.MapperHelper/obj/Npoi.MapperHelper.csproj.nuget.g.targets
Npoi.MapperHelper/obj/project.assets.json
Npoi.MapperHelper/obj/project.nuget.cache
Npoi.MapperHelper/obj/Debug/Npoi.MapperHelper.1.0.0.nuspec
Npoi.MapperHelper/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Npoi.MapperHelper/obj/Debug/netcoreapp3.1/Npoi.MapperHelper.AssemblyInfo.cs
Npoi.MapperHelper/obj/Debug/netcoreapp3.1/Npoi.MapperHelper.AssemblyInfoInputs.cache
Npoi.MapperHelper/obj/Debug/netcoreapp3.1/Npoi.MapperHelper.assets.cache
Npoi.MapperHelper/obj/Debug/netcoreapp3.1/Npoi.MapperHelper.csproj.CoreCompileInputs.cache
Npoi.MapperHelper/obj/Debug/netcoreapp3.1/Npoi.MapperHelper.csproj.FileListAbsolute.txt
Npoi.MapperHelper/obj/Debug/netcoreapp3.1/Npoi.MapperHelper.csprojAssemblyReference.cache
Npoi.MapperHelper/obj/Debug/netcoreapp3.1/Npoi.MapperHelper.dll
Npoi.MapperHelper/obj/Debug/netcoreapp3.1/Npoi.MapperHelper.pdb
